<div style="padding:20px;
            color:white;
            margin:10;
            font-size:200%;
            text-align:center;
            display:fill;
            border-radius:5px;
            background-color:#040465;
            overflow:hidden;
            font-weight:700"> Scraping Data Science Jobs in Egypt From WUZZUF </div>

### <font color=#040465> 1. Import Required Libraries. </font>

In [3]:
import requests  # For making HTTP requests
from bs4 import BeautifulSoup  # For web scraping
import csv  # For working with CSV files
import pandas as pd  # For data analysis and manipulation

### <font color=#040465> 2. Send Request & Getting the HTML Code.</font>

In [4]:
# Initialize an empty string to store all the responses from the web pages
all_response = ""

for idx in range(0, 2):
    # Create a URL using an f-string with a dynamic index value
    URL = f"https://wuzzuf.net/search/jobs/?a=spbl&q=data%20science&start={idx}"
    
    # Send an HTTP GET request to the URL and store the response
    response = requests.get(URL)
    
    # Print the response status for the current page
    print(f"Response of Page {idx+1} -- {response}")
    
    # Append the text content of the response to the 'all_response' string
    all_response += response.text

Response of Page 1 -- <Response [200]>
Response of Page 2 -- <Response [200]>

<h4 style = "text-align:center; font-size:100%">The "200" status code specifically indicates a successful HTTP request.</h4>

### <font color=#040465> 3. Creating an HTML Parser Using BeautifulSoup.</font>

In [5]:
# Create a BeautifulSoup object to parse the HTML content with the "html.parser" parser
soup = BeautifulSoup(all_response, "html.parser")

In [6]:
## soup.prettify

### <font color=#040465> 4. Creating Container For the Needed Data.</font>

In [7]:
containers = soup.find_all("div" , class_ = "css-1gatmva e1v1l3u10")

In [8]:
len(containers)

30

In [9]:
## BeautifulSoup.prettify(containers[0])

### <font color=#040465> 5. Accessing Page Elements.</font>

In [10]:
## containers[0].div.h2.text

In [11]:
## TEST > scrap the first job title

job_title = containers[0].find("h2" , class_ = "css-m604qf").get_text()
job_title

'Data Science Instructor'

In [12]:
## TEST > scrap the first company name 

company_name = containers[0].find("a" , class_ = "css-17s97q8").get_text().split()[0]
company_name

'EpsilonAI'

In [13]:
## TEST > scrap the first job type

job_type = containers[0].find("span" , class_ ="css-1ve4b75 eoyjyou0").getText()
job_type

'Full Time'

In [14]:
## TEST > the Location of first job

location = containers[0].find("span" , class_ = "css-5wys0k").get_text().strip()
location

'Nasr City, Cairo, Egypt'

### <font color=#040465> 5. Brining it all Together csv File.</font>
> **Using CSV Library**

In [16]:
# Open a file called "data science jobs.csv" in write mode ("w")
with open("data science jobs.csv", "w") as w:
    
    # Write the header row with column names
    w.write("job_title,company_name,location,job_type\n")

    # Loop through the 'containers' to extract job information
    for container in containers:
        # Extract job title from the 'container'
        job_title = container.find("h2" , class_ = "css-m604qf").get_text()
        # Replace any commas in the location with slashes
        job_title = job_title.replace(",","/") if "," in job_title else job_title
        # Extract company name from the 'container'
        company_name = container.find("a" , class_ = "css-17s97q8").get_text().split()[0]
        # Replace any commas in the location with slashes
        company_name = company_name.replace(",","/") if "," in company_name else company_name
        # Extract job type from the 'container'
        job_type = container.find("span" , class_ ="css-1ve4b75 eoyjyou0").getText()
        # Replace any commas in the location with slashes
        job_type = job_type.replace(",","/") if "," in job_type else job_type
        # Extract location from the 'container'
        location = container.find("span" , class_ = "css-5wys0k").get_text().strip() 
        # Replace any commas in the location with slashes
        location = location.replace(",","/") if "," in location else location

        # Write the extracted job information to the CSV file
        w.write(f"{job_title},{company_name},{location},{job_type}\n")

### <font color=#040465> 6. Check the File.</font>

In [17]:
jobs = pd.read_csv("data science jobs.csv")
jobs

,job_title,company_name,location,job_type
0,Data Science Instructor,EpsilonAI,Nasr City/ Cairo/ Egypt,Full Time
1,Senior Data Architect/Modeler,eT3,New Cairo/ Cairo/ Egypt,Full Time
2,Manager IT Data Engineering,Charterhouse,Dubai/ United Arab Emirates,Full Time
3,Data Analysis Quality Internship - Alexandria,Prometeon,Ameria/ Alexandria/ Egypt,Internship
4,Snr Data Center Project Engineer,Amazon,Dubai/ United Arab Emirates,Full Time
5,Master Data Supervisor,Nahdet,Mohandessin/ Giza/ Egypt,Full Time
6,Specialist Big Data Administrator - SWDC,Giza,Cairo/ Egypt,Full Time
7,Data Analysis Supervisor,Nahdet,Mohandessin/ Giza/ Egypt,Full Time
8,Engineering Data Analyst (Digital Twin),KBR,Riyadh/ Saudi Arabia,Full Time
9,Data Engineer-Data Integration,IBM,Cairo/ Egypt,Full Time
10,Data Engineer,DXC.technology,Cairo/ Egypt,Full Time
11,Master Data Analyst,Johnson,Cairo/ Egypt,Full Time
12,Programme Assistant (Data Analyst),World,Cairo/ Egypt,Full Time
13,Data Analyst,UrbaCon,Doha/ Qatar,Full Time
14,Group Data Engineer,DP,Dubai/ United Arab Emirates,Full Time
15,Data Engineer,Erada,Maadi/ Cairo/ Egypt,Full Time
16,Data Analyst,Tazweed,Abu Dhabi/ United Arab Emirates,Full Time
17,Data Manager / Documents Controller (m/f),Dornier,Riyadh/ Saudi Arabia,Full Time
18,Data Analyst,QUANT,Riyadh/ Saudi Arabia,Full Time
19,Data Engineering intern,QUANT,Riyadh/ Saudi Arabia,Full Time
20,Data Engineer,Tyde,Dubai/ United Arab Emirates,Full Time
21,Data Engineer,ManpowerGroup,Riyadh/ Saudi Arabia,Full Time
22,Junior Data Analyst,Options,Mohandessin/ Giza/ Egypt,Full Time
23,Architect & Data Lead,ManpowerGroup,Riyadh/ Saudi Arabia,Full Time
24,Solution Architect / Solution Designer - Data/...,Persistence,Riyadh/ Saudi Arabia,Full Time
25,SENIOR DATA WAREHOUSE ANALYST,King,Riyadh/ Saudi Arabia,Full Time
26,Data Engineer lead,BBI-Consultancy,Nasr City/ Cairo/ Egypt,Full Time
27,Data Analysis/Analytics Instructor (Excel - Po...,EpsilonAI,Nasr City/ Cairo/ Egypt,Full Time
28,Data Engineer,Carina,New Cairo/ Cairo/ Egypt,Full Time
29,Data Analyst,Confidential,Alexandria/ Egypt,Full Time

<div style="padding:20px;
            color:white;
            margin:10;
            font-size:200%;
            text-align:center;
            display:fill;
            border-radius:5px;
            background-color:#040465;
            overflow:hidden;
            font-weight:700"> Done ✌ </div>